<script lang="ts">
import Vue from 'vue';
import CopyButton from '~/components/install/copy-button.vue';

export default Vue.extend({
  components: { CopyButton },
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
    id: {
      type: String,
      required: true,
      default: null,
    },
  },
  data() {
    return {
      content: [],
    };
  },
  async fetch() {
    const content = (await this.$content('install-dropdown').fetch()) as any;
    this.content = content;
  },
});
</script>

<i18n src="../../content/install/install-dropdown.yml" lang="yaml"></i18n>

<template>
  <article :id="id" class="install-dropdown">
    <div>
      <button
        aria-label="Close installation instructions"
        class="close"
        type="button"
        @click="$emit('closed')"
      >
        {{ $t('close_button') }}
        <SlpIcon name="close" variant="product" />
      </button>
    </div>
    <div v-if="data.tip" class="tip">{{ data.tip }}</div>
    <div>
      <SlpTypography tag="h4" variant="heading4">
        {{ $t('instructions.step1.text') }}
      </SlpTypography>
      <SlpTypography v-if="data.dependency_text" tag="p">
        {{ data.dependency_text }}
      </SlpTypography>
      <div class="code-block">
        <pre class="command" v-html="$md.render(data.dependency_command)"></pre>
        <CopyButton :target="data.dependency_command" />
      </div>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step1.detail1'))"
      ></p>
      <div class="code-block">
        <pre class="command" v-html="$md.render(data.postfix_command)"></pre>
        <CopyButton :target="data.postfix_command" />
      </div>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step1.detail2'))"
      ></p>
      <SlpTypography tag="h4" variant="heading4">
        {{ $t('instructions.step2.text') }}
      </SlpTypography>
      <div class="code-block">
        <pre class="command" v-html="$md.render(data.download_command)"></pre>
        <CopyButton :target="data.download_command" />
      </div>
      <SlpTypography
        v-if="data.preinstall_note"
        tag="div"
        v-html="$md.render(data.preinstall_note)"
      ></SlpTypography>
      <div v-if="data.preinstall_command" class="code-block">
        <pre class="command" v-html="$md.render(data.preinstall_command)"></pre>
        <CopyButton :target="data.preinstall_command" />
      </div>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step2.detail'))"
      ></p>
      <div class="code-block">
        <pre class="command" v-html="$md.render(data.install_command)"></pre>

        <CopyButton :target="data.install_command" />
      </div>
      <SlpTypography tag="h4" variant="heading4">
        {{ $t('instructions.step3.text') }}
      </SlpTypography>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step3.detail'))"
      ></p>
      <SlpTypography tag="h4" variant="heading4">
        {{ $t('instructions.step4.text') }}
      </SlpTypography>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step4.detail'))"
      ></p>
      <div class="alert">
        <p>
          <strong>{{ $t('important_note.header') }}</strong>
          {{ $t('important_note.text') }}
        </p>
      </div>
      <SlpTypography tag="h4" variant="heading4">
        {{ $t('instructions.step5.text') }}
      </SlpTypography>
      <p
        class="detail"
        v-html="$md.render($t('instructions.step5.detail'))"
      ></p>
      <div class="extra-links">
        <a
          v-if="data.id == 'raspberry-pi-os'"
          href="https://docs.gitlab.com/omnibus/settings/rpi.html"
          data-ga-name="Raspberry Pi settings"
          data-ga-location="raspberry pi"
          >{{ $t('extra_link.raspberry_pi') }}</a
        >
        <a
          href="https://docs.gitlab.com/omnibus/"
          data-ga-name="troubleshooting"
          :data-ga-location="data.id"
          >{{ $t('extra_link.troubleshooting') }}</a
        >
        <a
          href="http://docs.gitlab.com/omnibus/manual_install.html"
          data-ga-name="manual installation"
          :data-ga-location="data.id"
          >{{ $t('extra_link.manual') }}</a
        >
        <!-- We only support CE in Raspberry Pi -->
        <a
          v-if="data.line_back"
          :href="`/install/ce-or-ee/?distro=#${data.line_back}`"
          data-ga-name="CE or EE"
          :data-ga-location="data.id"
        >
          {{ $t('extra_link.cc_or_ee') }}
        </a>
      </div>
    </div>
  </article>
</template>

<style scoped lang="scss">
.install-dropdown {
  border: 1px solid $color-surface-400;
  padding: $spacing-32;
  scroll-margin-top: 0;
  background: $color-surface-50;

  .close {
    float: right;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  h4 {
    margin: $spacing-16 0;
  }

  pre {
    display: inline-block;
  }

  pre.command,
  pre.command:deep pre {
    white-space: pre-line;
    word-break: break-all;
    word-wrap: break-word;
    position: relative;
    margin-top: $spacing-8;

    code {
      padding: 0;
    }
  }
  .detail {
    font-size: 20px;
  }

  .code-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }

  .tip {
    border-left: 5px solid $color-info-300;
    padding: $spacing-16;
    margin-bottom: $spacing-32;
  }

  .alert {
    border-left: 5px solid $color-alert-300;
    padding: $spacing-16;
    margin: $spacing-24 0;
  }

  p {
    margin: $spacing-8 0;
  }

  .extra-links {
    margin-top: $spacing-48;
    display: flex;

    a {
      margin-right: $spacing-24;
      font-size: $text-body-3;
    }
  }
}
</style>
