<script lang="ts">
import Vue from 'vue';
import type { PropType } from 'vue';
import { SideNavigationVariant } from '../common/index.vue';
import { BySolutionIntro } from '../solutions/by-solution/index.vue';
import Tabs from '../customers/tabs.vue';
import { IsMobileMixin } from '~/mixins';

interface Overview {
  text: {
    highlight?: string;
    description: string;
    textVariant?: string;
  };
}

interface EsgBlock {
  header: string;
  description: string;
  image: {
    src: string;
    alt?: string;
  };
}

interface EsgSection {
  name: string;
  purpleBackground: boolean;
  blocks: EsgBlock[];
}
export default Vue.extend({
  components: {
    SideNavigationVariant,
    BySolutionIntro,
    Tabs,
  },
  mixins: [IsMobileMixin],
  props: {
    overview: {
      type: Object as PropType<Overview>,
      required: false,
      default: null,
    },
    sections: {
      type: Array as PropType<EsgSection[]>,
      required: true,
    },
  },
  data() {
    const navLinks = [
      { title: 'Overview', href: '#overview' },
      ...this.sections.map((section) => ({
        title: section.name,
        href: `#${section.name.toLowerCase()}`,
      })),
    ];
    const tabs = this.sections.map((section) => section.name);
    return {
      navLinks,
      tabs,
      selectedTab: 0,
    };
  },
  methods: {
    changeTab(newTab: number) {
      this.selectedTab = newTab;
    },
  },
});
</script>

<template>
  <SideNavigationVariant :links="navLinks">
    <SlpContainer id="overview">
      <BySolutionIntro :data="overview" />
    </SlpContainer>
    <Tabs
      v-if="isMobile"
      :tabs="tabs"
      :selected-tab="selectedTab"
      class="tabs"
      @change="changeTab"
    />
    <SlpContainer
      v-for="(section, sectionIndex) in sections"
      v-show="!isMobile || (isMobile && sectionIndex === selectedTab)"
      :id="section.name.toLowerCase()"
      :key="section.name"
      class="section"
      :class="{ 'purple-background': !isMobile && section.purpleBackground }"
    >
      <div
        v-for="block in section.blocks"
        :key="block.header"
        class="esg-block"
      >
        <div class="text">
          <SlpTypography variant="heading3-bold" tag="h2">
            {{ block.header }}
          </SlpTypography>
          <SlpTypography variant="body1" tag="p">
            <div v-html="$md.render(block.description)"></div>
          </SlpTypography>
        </div>
        <div class="image">
          <img :src="block.image.src" :alt="block.image.alt" />
        </div>
      </div>
    </SlpContainer>
  </SideNavigationVariant>
</template>

<style lang="scss" scoped>
.tabs {
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
}
.section {
  padding: 96px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  @media (max-width: $breakpoint-lg) {
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow: scroll;
    gap: 16px;
    padding: 0;
  }
  &.purple-background {
    position: relative;
    &::after {
      background: #f6f3fe;
      content: '';
      height: 100%;
      left: -50vw;
      position: absolute;
      top: 0;
      width: 200vw;
      z-index: -1;
    }
  }
}
.esg-block {
  display: flex;
  flex-direction: column;
  gap: 0;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    gap: 64px;
  }
  @media (max-width: $breakpoint-lg) {
    min-width: 90vw;
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 16px;
    @media (max-width: $breakpoint-lg) {
      padding: 32px;

      background: $color-surface-800;
    }
  }
  .image img {
    border-radius: 0px 0px 82px 4px;
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    @media (min-width: $breakpoint-lg) {
      border-radius: 4px 4px 82px 4px;
      width: 375px;
      height: 314px;
      max-width: unset;
    }
  }
}
</style>
