<script lang="ts">
export default {
  name: 'DibConclusion',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
};
</script>

<template>
  <section class="dib-conclusion">
    <SlpContainer>
      <SlpRow class="dib-conclusion__row">
        <SlpColumn :cols="5" class="dib-conclusion__col">
          <SlpTypography
            v-if="data.header"
            variant="heading1-bold"
            tag="h2"
            class="dib-conclusion__header slp-mb-32"
            ><span class="dib-conclusion__header-gradient"></span
            ><span class="dib-conclusion__header-content">{{
              data.header
            }}</span>
          </SlpTypography>
        </SlpColumn>
        <SlpColumn
          :cols="5"
          class="dib-conclusion__col dib-conclusion__content"
        >
          <SlpTypography variant="body1" tag="div" class="slp-mb-16">
            <SlpMarkdown :text="data.text" />
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.dib-conclusion {
  position: relative;
  padding: 0 0 48px 0;
  @media (min-width: $breakpoint-lg) {
    padding: 0 0 144px 0;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 100%),
      linear-gradient(
        126deg,
        #eee7fd 0%,
        rgba(246, 243, 254, 0.83) 49.71%,
        rgba(255, 212, 216, 0.45) 100%
      );
    transform: scaleX(-1);
  }
  &__header {
    position: relative;
    z-index: 0;
    @media (min-width: $breakpoint-lg) {
      max-width: 440px;
    }
    &:before {
      content: '';
      position: absolute;
      height: 0;
      width: 155%;
      padding-bottom: 154.6%;
      border: 1px solid $color-surface-700;
      border-radius: 100%;
      opacity: 0.20000000298023224;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #fca326 0%,
        rgba(169, 137, 245, 0) 100%
      );
      z-index: -1;
      top: -100%;
      left: -63%;
    }
    &:after {
      content: '';
      position: absolute;
      height: 0;
      width: 100%;
      padding-bottom: 99.7%;
      border-radius: 100%;
      border: 1px solid $color-secondary-100;
      border-radius: 685px;

      opacity: 0.20000000298023224;
      background: radial-gradient(
        50% 50% at 50% 50%,
        #a989f5 0%,
        rgba(169, 137, 245, 0) 100%
      );

      z-index: -1;
      width: 150%;
      padding-bottom: 150%;
      top: -41%;
      left: -107%;
    }
  }
  &__row {
    justify-content: space-between;
  }
  &__col {
    height: max-content;
  }
  &__header-gradient {
    display: block;
    position: absolute;
    right: 0;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    transform: rotate(-45deg) translate3d(-85%, 27%, 0);
    transform-origin: left;
    background: linear-gradient(
      180deg,
      #eee7fd 0%,
      rgba(246, 243, 254, 0.83) 49.71%,
      rgba(255, 212, 216, 0.45) 100%
    );
    box-shadow: 0px 44px 64px 0px rgba(119, 89, 194, 0.1);
    left: 0;
    bottom: 0;
    z-index: 0;
    @media (min-width: $breakpoint-md) {
      height: 180px;
      width: 180px;
    }
  }
  &__header-content {
    display: block;
    position: relative;
    z-index: 1;
  }
  &__content {
    position: relative;
    z-index: 1;
  }
}
</style>
