<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    data: {
      required: true,
      type: Object,
    },
  },
});
</script>

<template>
  <SlpRow class="slp-my-md-160 slp-mb-32 slp-mt-160">
    <SlpColumn :cols="10" class="survey_benefit__content" :class="data.variant">
      <div v-for="card in data.benefits" :key="card.name">
        <div class="slp-flex">
          <SlpIcon
            v-if="card.icon"
            class="slp-mr-16 slp-mb-16"
            :name="card.icon.name"
            :variant="card.icon.variant || 'marketing'"
            :alt="card.icon.alt"
            hex-color="#A989F5"
            size="md"
          />
        </div>
        <SlpTypography class="slp-pb-16" tag="h3" variant="heading4-bold">
          {{ card.name }}
        </SlpTypography>
        <SlpTypography class="slp-mb-48 slp-mb-md-24" tag="p" variant="body2">
          {{ card.description }}
        </SlpTypography>
        <div
          v-for="item in card.list"
          :key="item"
          class="slp-flex slp-pl-16 slp-pb-16"
        >
          <SlpIcon
            name="check"
            class="slp-mr-8"
            variant="product"
            hex-color="#A989F5"
            alt="Check icon"
            size="sm"
          />
          <SlpTypography class="slp-pl-16" tag="p" variant="body2">
            {{ item }}
          </SlpTypography>
        </div>
      </div>
    </SlpColumn>
  </SlpRow>
</template>

<style lang="scss" scoped>
.light {
  color: #eee7fd;
}
.survey_benefit {
  &__content {
    display: grid;

    @media (min-width: $breakpoint-md) {
      grid-template-columns: 1fr 1fr;
      grid-gap: $spacing-64;
    }
  }
}
</style>
