<script lang="ts">
/* Id tags used as reference for routing should match copy block header id
Example yml file:
      - name: 'tabs-menu'
        data:
        menus:
          - id_tag: why-digital-transformation
            text: Why Digital Transformation
      - name: 'copy'
        data:
          block:
            - header: Why Digital Transformation
                  metadata:
                    id_tag: why-digital-transformation
*/
import Vue from 'vue';
import AnchorDropdown from './anchor-dropdown.vue';
import Tab from './tab.vue';

export default Vue.extend({
  name: 'TabsMenu',
  components: {
    Tab,
    AnchorDropdown,
  },
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  mounted() {
    const navbar = this.$refs.navbar as Element;
    const sticky = navbar.getBoundingClientRect().top;
    navbar.classList.remove('sticky');
    window.onscroll = () => {
      if (window.pageYOffset >= sticky) {
        navbar.classList.add('sticky');
      } else {
        navbar.classList.remove('sticky');
      }
    };
  },
});
</script>

<template>
  <section ref="navbar" class="container">
    <SlpContainer class="tabs-container">
      <ul class="tabs__list">
        <li v-for="item in data.menus" :key="item.text">
          <Tab
            :text="item.text"
            :href="'#' + item.id_tag"
            :data-ga-name="item.data_ga_name"
            :data-ga-location="item.data_ga_location"
          />
        </li>
      </ul>
      <anchor-dropdown :options="data.menus" class="mobile-anchor" />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.container {
  margin-bottom: $spacing-96;
  .column {
    &__centered {
      display: flex;
      justify-content: center;
    }

    @media (max-width: $breakpoint-md) {
      min-width: 100%;
    }
  }
}

.sticky {
  position: fixed;
  left: 0;
  width: 100vw;
  top: 132px;
  z-index: 1020;
  border-radius: $spacing-4;
  padding: $spacing-8;
  transition: all 0.3s ease;
  .tabs__list {
    height: 48px;
  }
}

@media (min-width: $breakpoint-md) {
  .mobile-anchor {
    display: none;
  }
}

.tabs-container {
  display: flex;
  justify-content: center;
}

.tabs__list {
  height: 64px;
  border-bottom: 3px solid transparent;
  display: inline-flex;
  justify-content: space-between;
  border: 1px solid #f2f2f2;
  box-shadow: 0 8px 16px rgba(195, 195, 195, 0.25);
  border-radius: 4px;
  background: #ffffff;
  li {
    height: 100%;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in;
    &:hover {
      background-color: #f8f8f8;
      border-bottom: 3px solid #7225ba;
    }
  }
}

@media (max-width: $breakpoint-md) {
  .tabs__list {
    display: none;
  }
  .container {
    margin-bottom: $spacing-16;
  }
}
</style>
