<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'ByIndustryCaseStudies',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section
    class="solution-casestudies"
    :class="{ 'solution-casestudies__charcoal-bg': data.charcoal_bg }"
  >
    <SlpContainer>
      <SlpRow class="row">
        <SlpColumn class="column">
          <SlpRow
            class="column__row"
            :data-aos="data.header_animation"
            :data-aos-duration="data.header_animation_duration"
          >
            <SlpColumn :cols="8">
              <SlpTypography tag="h2" variant="heading3" class="title"
                >{{ data.title }}
              </SlpTypography>
            </SlpColumn>
            <SlpButton
              class="bold"
              variant="tertiary"
              :href="data.link?.href ?? '/customers/'"
              :data-ga-name="data.link?.data_ga_name ?? `case studies`"
              :data-ga-location="data.link?.data_ga_location ?? `header`"
              >{{ data.link?.text ?? `All case studies` }}
              <SlpIcon
                class="slp-ml-8"
                name="chevron-lg-right"
                variant="product"
                alt="Chevron Right Icon"
              />
            </SlpButton>
          </SlpRow>
          <a
            v-for="row in data.rows"
            :key="row.subtitle + Math.random()"
            :href="row.button.href"
            :data-ga-name="row.button.data_ga_name"
            :data-ga-location="row.button.data_ga_location"
            class="solution-casestudies__block"
          >
            <SlpRow
              class="column__row--articles slp-flex"
              :data-aos="data.row_animation"
              :data-aos-duration="data.row_animation_duration"
            >
              <SlpColumn
                :cols="6"
                size="lg"
                class="slp-col-md-6 article-wrapper"
              >
                <SlpColumn
                  :cols="8"
                  size="lg"
                  class="solution-casestudies__content slp-mr-32"
                >
                  <SlpTypography
                    tag="h3"
                    variant="heading5-bold"
                    class="slp-mb-24"
                  >
                    {{ row.title }}
                  </SlpTypography>
                  <SlpTypography tag="h4" variant="heading5">
                    {{ row.subtitle }}
                  </SlpTypography>
                </SlpColumn>
              </SlpColumn>

              <SlpColumn class="second-col">
                <div class="link-card">
                  <div class="second-col__image__wrapper">
                    <img
                      class="second-col__image"
                      :src="row.image.url"
                      :alt="row.image.alt ? row.image.alt : ''"
                      loading="lazy"
                    />
                  </div>
                  <div class="solution-casestudies__link">
                    {{ row.button.text }}
                    <SlpIcon
                      class="slp-ml-8"
                      name="chevron-lg-right"
                      variant="product"
                      alt="Chevron Right Icon"
                    />
                  </div>
                </div>
              </SlpColumn>
            </SlpRow>
          </a>
        </SlpColumn>
      </SlpRow>
      <SlpColumn />
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.solution-casestudies {
  padding: $spacing-96 $spacing-16;
  position: relative;
  &.solution-casestudies__charcoal-bg::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: $color-surface-800;
    height: 100%;
    z-index: -1;

    left: -100vw;
    width: 200vw;
  }

  @media (max-width: $breakpoint-md) {
    padding: $spacing-48 0;
  }

  &__charcoal-bg {
    background-color: $color-surface-800;
  }
  .title {
    margin-bottom: 16px;
  }

  .row {
    .column {
      margin: 0 auto;

      &__row {
        width: 100%;
        margin-bottom: 40px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @media (max-width: $breakpoint-md) {
          margin-bottom: 32px;
        }
        &--articles {
          border-top: 1px solid #a2a1a6;
          padding: $spacing-48 0;
          .article-wrapper {
            flex-basis: 100%;
            @media (min-width: $breakpoint-md) {
              flex-basis: 52%;
            }
            @media (min-width: $breakpoint-lg) {
              flex-basis: 60%;
            }
          }
          &:last-of-type {
            border-bottom: 1px solid #a2a1a6;
          }

          .second-col {
            padding: $spacing-24 0;
            overflow: hidden;
            position: relative;
            z-index: 2;

            @media (max-width: $breakpoint-md) {
              padding-bottom: 0;
              &:hover {
                &::after {
                  background-color: unset;
                }

                &__image__wrapper {
                  border-bottom-right-radius: 0;
                }
              }
            }

            &::after {
              content: '';
              height: 100%;
              left: $spacing-32;
              position: absolute;
              top: 0;
              width: 100%;
              pointer-events: none;
              transition: background-color 0.3s ease-in-out;
              z-index: 0;
            }

            .second-col__image__wrapper {
              border-radius: $spacing-4;
              transition: border-bottom-right-radius 0.3s ease-in-out;
              z-index: 1;
            }

            &:hover {
              &::after {
                background-color: $color-surface-900;
              }

              .second-col__image__wrapper {
                border-bottom-right-radius: 100px;
              }
            }
          }
        }

        h2 {
          font-size: $text-heading-2;
          line-height: $line-height-heading-2;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
  .link-card {
    cursor: pointer;
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
      justify-content: center;
    }

    .second-col__image {
      width: 196px;
      height: 215px;
      object-fit: cover;

      @media (max-width: $breakpoint-md) {
        width: 100%;
        height: 281px;
        height: auto;
      }
      &__wrapper {
        max-height: 263px;
        line-height: 0;
        overflow: hidden;
      }
    }

    a {
      color: $color-text-300;

      @media (max-width: $breakpoint-lg) {
        padding-left: 0;
        margin: 0;
      }
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    min-width: 128px;
    padding-top: $spacing-16;
    z-index: 1;
    font-weight: $font-weight-bold;
    @media (min-width: $breakpoint-lg) {
      padding: 0 $spacing-16 0 $spacing-32;
    }
  }

  .bold {
    font-weight: $font-weight-bold;
  }

  &__content {
    @media (max-width: $breakpoint-md) {
      margin: 0 0 $spacing-32 0;
    }
  }
  &__block {
    color: $color-primary-200;
    &:hover,
    &:focus,
    &:active {
      .second-col {
        @media (max-width: $breakpoint-md) {
          padding-bottom: 0;

          &::after {
            background-color: unset;
          }

          &__image__wrapper {
            border-bottom-right-radius: 0;
          }
        }

        &::after {
          background-color: $color-surface-900;
        }

        .second-col__image__wrapper {
          border-bottom-right-radius: 100px !important;
        }
      }
      .solution-casestudies__link {
        text-decoration: underline;
      }
    }
  }
}
</style>
