<script>
import { init, refresh } from 'aos';
import { LocalizedHrefMixin } from '../mixins';

export default {
  mixins: [LocalizedHrefMixin],
  head() {
    return {
      htmlAttrs: {
        lang: this.$i18n.locale,
      },
    };
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
};
</script>

<template>
  <div>
    <nav>
      <nuxt-img
        class="desktop"
        src="/nuxt-images/free-trial/free-trial-nav-logo-mobile.svg"
        width="32px"
      />
      <nuxt-img
        class="mobile"
        src="/nuxt-images/free-trial/free-trial-nav-logo-mobile.svg"
        width="25px"
      />
      <div class="nav-buttons">
        <SlpButton href="#overview" variant="tertiary"> Overview </SlpButton>
        <SlpButton href="#hotel" variant="tertiary"> Hotel </SlpButton>
        <SlpButton href="#information-guide" variant="tertiary">
          Information guide
        </SlpButton>
        <SlpButton href="#contact" variant="tertiary"> Contact </SlpButton>
        <SlpButton
          href="https://calendar.google.com/calendar/u/0/r/eventedit?text=Summit&dates=20240311/20240315&details=Join+us+in+Las+Vegas+for+an+all-company+gathering+to+foster+collaboration,+alignment,+and+motivation.+We%E2%80%99ll+meet+face-to-face,+welcome+new+team+members,+reconnect+with+old+friends,+and+reinforce+our+business+through+our+core+values,+all+while+having+fun+in+the+process!&location=Las+Vegas,+NV,+USA"
          variant="primary"
        >
          Add to calendar
        </SlpButton>
      </div>
    </nav>
    <div ref="localizedContainer">
      <Nuxt role="main" />
    </div>
    <SlpMinimizedFooter />
  </div>
</template>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-between;
  padding: 13px $spacing-32;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  z-index: 1025;
  background: $color-surface-50;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);

  .nav-buttons {
    justify-content: flex-end;
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  .slp-btn-tertiary {
    margin-right: $spacing-24;
    font-weight: 400;
    color: $color-text-200;
  }

  .mobile {
    display: none;
  }

  @media (max-width: $breakpoint-md) {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0;
    &:deep(.slp-btn) {
      border-radius: 0;
      justify-content: center;
    }

    .desktop {
      display: none;
    }

    .mobile {
      display: block;
      margin: 12px auto;
    }
  }
}
</style>
