<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'PlanSummary',
  props: {
    data: {
      type: Object,
      required: true,
      default: null,
    },
  },
});
</script>

<template>
  <section :id="data.id" class="plan-summary">
    <SlpTypography tag="h1" variant="heading1-bold">{{
      data.title
    }}</SlpTypography>
    <SlpTypography tag="h3" variant="heading3-bold">{{
      data.subtitle
    }}</SlpTypography>
    <div class="plan-summary__text" v-html="$md.render(data.text)"></div>
    <SlpRow v-if="data.buttons" class="plan-summary__button-wrapper">
      <SlpButton
        v-for="(button, buttonIndex) in data.buttons"
        :key="buttonIndex"
        :variant="button.variant"
        :href="button.url"
        :data-ga-name="button.data_ga_name"
        :data-ga-location="button.data_ga_location"
        >{{ button.text }}
        <SlpIcon
          v-if="button.icon"
          class="slp-ml-8"
          name="chevron-lg-right"
          variant="product"
          alt="Chevron Right Icon"
        />
      </SlpButton>
    </SlpRow>
  </section>
</template>

<style lang="scss" scoped>
.plan-summary {
  & > * {
    margin-bottom: $spacing-32;

    @media (max-width: $breakpoint-md) {
      margin-bottom: $spacing-24;
    }
  }

  &:deep(strong) {
    font-weight: $font-weight-bold;
  }

  &__text {
    font-size: $text-heading-5;
    line-height: $line-height-heading-5;
    font-weight: $font-weight-normal;
    letter-spacing: -0.8px;

    @media (max-width: $breakpoint-md) {
      font-size: $text-heading-5-mobile;
      line-height: $line-height-heading-5-mobile;
      font-weight: $font-weight-normal;
      letter-spacing: -0.8px;
    }
  }

  &__button-wrapper {
    flex-direction: column;
    &:deep(.slp-btn) {
      justify-content: center;
      margin-bottom: $spacing-8;
    }

    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
</style>
